.southindian {

    .southindian-nav {
        background-color: white;
    }

    .southpack {
        background-image: url("https://img.fitreisen.group/eyJidWNrZXQiOiJmaXRyZWlzZW4tY2RuLWltYWdlcyIsImtleSI6IjAwMjk1MzZCMDI5RDc5MDVEREIyQzcyNEI3NDI3N0U3IiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxMjgwLCJoZWlnaHQiOjQ5MiwiZml0IjoiY292ZXIiLCJwb3NpdGlvbiI6ImNlbnRlciJ9fX0=?signature=0cb9859256cb9e161f30d817b6756d7f53f1882f0265089883fe32a449e660c4");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-align: center;
        padding: 18%;

        h3{
            font-weight: 800;
            font-size: 60px;
        }
    }
}